@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;

  font-family: 'Josefin Sans', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #dee2e6;
}

footer {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #dee2e6;
}

main {
  flex: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.5rem;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.intro,
.outro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.spotlight-intro-text-wrapper {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 0.5rem;
}

.spotlight-intro-text {
  flex: 1;
  position: relative;
  will-change: transform;
}

.spotlight-intro-text:nth-child(1) {
  display: flex;
  justify-content: flex-end;
}

.spotlight-bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: scale(0);
  will-change: transform;
}

.spotlight-bg-img img {
  transform: scale(1.5);
  will-change: transform;
  object-fit: cover;
}

.spotlight-titles-container {
  position: absolute;
  top: 0;
  left: 15vw;
  width: 100%;
  height: 100%;
  overflow: hidden;
  clip-path: polygon(
    50svh 0px,
    0px 50%,
    50svh 100%,
    100% calc(100% + 100svh),
    100% -100svh
  );
  --before-opacity: 0;
  --after-opacity: 0;
}

.spotlight-titles-container::before,
.spotlight-titles-container::after {
  content: '';
  position: absolute;
  width: 100svh;
  height: 2.5px;
  background: white;
  pointer-events: none;
  transform: opacity 0.3s ease;
  z-index: 10;
}

.spotlight-titles-container::before {
  top: 0;
  left: 0;
  transform: rotate(-45deg) translate(-7rem);
  opacity: var(--before-opacity);
}

.spotlight-titles-container::after {
  bottom: 0;
  left: 0;
  transform: rotate(45deg) translate(-7rem);
  opacity: var(--after-opacity);
}

.spotlight-titles {
  position: relative;
  left: 15%;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  transform: translateY(100%);
  z-index: 2;
}

.spotlight-titles h1 {
  color: white;
  opacity: 0.25;
  transform: opacity 0.3s ease;
}

.spotlight-images {
  position: absolute;
  right: 0;
  width: 50%;
  min-width: 300px;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.spotlight-img {
  position: absolute;
  width: 200px;
  height: 150px;
  will-change: transform;
}

.spotlight-header {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
  transform: opacity 0.3s ease;
  z-index: 2;
  opacity: 0;
}

.intro,
.outro {
  padding: 2rem;
  text-align: center;
}

/* .intro h1 {
  offset-path: path('M20,20 C20,100 200,0 200,100');
  offset-rotate: auto 90deg;
  animation: move 3000ms infinite alternate ease-in-out;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }

  100% {
    offset-distance: 100%;
  }
} */
