@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Josefin Sans', snas-serif;
  background-color: whitesmoke;
  overflow-x: hidden;
  background-image: url(/src/assets/images/background/rumble.png);
}

.start,
.end {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: thin;
  word-spacing: 0.5rem;
}

.logo {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  /* text-transform: uppercase; */
  z-index: 1000;
  text-align: center;
  user-select: none;
}

.logo img {
  height: 4rem;
}

.slider {
  width: 500%;
  height: 100%;
  display: flex;
}

/* section:nth-child(1) {
  background-color: #607444;
}

section:nth-child(2) {
  background-color: #5c6583;
}

section:nth-child(3) {
  background-color: #4f78c8;
} */

.mask {
  overflow: hidden;
}

section {
  flex: 1;
  position: relative;
  width: 100vw;
  display: flex;
  font-family: 'Markazi Text', serif;
}

section .big-picture {
  position: relative;
  height: 100vh;
  width: 70%;
  /* background-color: purple; */
  align-self: end;
  user-select: none;
}

section .big-picture .figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  z-index: 10;
}

section .big-picture .special {
  height: 80%;
  object-fit: cover;
  transform: translate(-50%, -45%);
}

section .big-picture .bg {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80%;
  animation: spin 10s 0s linear infinite;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

section main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 8rem;
  align-self: center;
}

section main h1 {
  font-size: clamp(0.85rem, 1.5vw, 1rem);
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

section main p {
  width: 70%;
  font-size: clamp(0.85rem, 1.5vw, 0.95rem);
  line-height: 1.8rem;
  font-size: 1rem;
}

.card {
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 10;
  transform: translateY(-50%);
}

.card .container {
  display: grid;
  place-items: center;
  width: 20rem;
  height: 30rem;
  background-color: gray;
  transform-style: preserve-3d;
  cursor: pointer;
  user-select: none;
}

.card .container .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-1 .layer-1 {
  transform: translateZ(10px);
}
.card-1 .layer-2 {
  transform: translateZ(12px);
}
.card-1 .layer-3 {
  transform: translateZ(16px);
}
.card-1 .layer-4 {
  transform: translateZ(18px);
}
.card-1 .layer-5 {
  transform: translateZ(22px);
}
.card-1 .layer-6 {
  transform: translateZ(26px);
}
.card-1 .layer-7 {
  transform: translateZ(30px);
}

.card-2 .layer-1 {
  transform: translateZ(8px);
}
.card-2 .layer-2 {
  transform: translateZ(10px);
}
.card-2 .layer-3 {
  transform: translateZ(12px);
}
.card-2 .layer-4 {
  transform: translateZ(14px);
}
.card-2 .layer-5 {
  transform: translateZ(18px);
}
.card-2 .layer-6 {
  transform: translateZ(22px);
}
.card-2 .layer-7 {
  transform: translateZ(26px);
}
.card-2 .layer-8 {
  transform: translateZ(30px);
}

.card-3 .layer-1 {
  transform: translateZ(8px);
}
.card-3 .layer-2 {
  transform: translateZ(10px);
}
.card-3 .layer-3 {
  transform: translateZ(12px);
}
.card-3 .layer-4 {
  transform: translateZ(14px);
}
.card-3 .layer-5 {
  transform: translateZ(16px);
}
.card-3 .layer-6 {
  transform: translateZ(20px);
}
.card-3 .layer-7 {
  transform: translateZ(18px);
}

.card-3 .layer-8 {
  transform: translateZ(19px);
}
